.location-container, .room-container, .board-container, .panel-container {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.room-list, .board-list, .panel-list {
    margin: 0 auto;
    padding: 0;
    max-height: 350px;
    overflow-y: auto;
}

.room-list > li, .board-list > li, .panel-list > li {
    list-style: none;
    display: inline-block;
    box-sizing: border-box;
    margin: 15px;
    padding: 0 30px;
    width: 400px;
    height: 120px;
    line-height: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.01),#476e9e);
    box-shadow: 2px 2px 6px rgba(76, 117, 252, 0.3);
    transition: background 0.5s, color 0.5s;
    cursor: pointer;
}

.room-list > li:hover, .board-list > li:hover, .panel-list > li:hover {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.01), rgb(62, 95, 136));
    color: #fff;
}

li.preview {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.01),#f5a52d);
}

li.preview:hover {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.01),#e99a24);
}

ul.activity-list {
    list-style: none;
    padding: 0;
}
